main.registration {
    display: flex;
    flex-direction: column;

    h1 {
        display: flex;
        margin: 50px auto;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 10px;

        .form-element {
            display: flex;
            flex-direction: column;
            max-width: 500px;

            .error {
                color: red;
                font-size: 12px;
            }
        }
    }
}