main.sections {
    padding: 20px;
    justify-content: space-around;
    height: 100vh;

    .primary {
        width: 200px;
    }

    ul {
        list-style-type: none;
        height: 100%;
        margin-bottom: 20px;
    }

    ul > li {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 10px;
        width: max-content;
    }

    ul > li > ul {
        margin-top: 10px;
    }
}

