<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Tree Project{% endblock %}</title>
    {{ vite_css('app') }}
</head>
<body>
{% include 'layout/parts/header.html.twig' %}

<main class="{{ pageClass }}">
    {% block content %}{% endblock %}
</main>

{% include 'layout/parts/footer.html.twig' %}

<script type="module" crossorigin="anonymous">
    {{ vite_js('app') }}
</script>
{% block script %}{% endblock %}
</body>
</html>